:root {
  --cell-border-color: #800080;
  --cell-bg-color: #EEE8AA;
}

#title-wrapper {
  display: flex;
  width: 70%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  flex: 1;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  color: var(--cell-border-color);
  padding: 5px;
  text-align: center;
}

.button {
  width: 100px;
  height: 50px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--cell-border-color);
  color: var(--cell-bg-color);
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--cell-bg-color);
  color: var(--cell-border-color);
}

#quote-wrapper {
  height: 100px;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 5px auto 5px auto;
  color: var(--cell-border-color);
}

#wrapper,
#week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-content: stretch;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#week-days div {
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 0%;
  margin: 0;
  pointer-events: none;
}

#wrapper {
  min-height: 500px;
  position: relative;
}

.cell {
  background-color: var(--cell-bg-color);
  color: var(--cell-border-color);
  border: 2px solid var(--cell-border-color);
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 1px;
  transition-duration: 0.4s;
}

.cell:hover {
  background-color: var(--cell-border-color);
  color: var(--cell-bg-color);
  font-size: 30px;
  padding-bottom: 0;
  cursor: pointer;
}

#current-day {
  background-color: var(--cell-border-color);
  color: var(--cell-bg-color);
}

#note-window {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1005;
  width: 200px;
  height: 200px;
  color: var(--cell-border-color);
  font-family: 'Open Sans', sans-serif;
  border: 1px solid var(--cell-border-color);
  border-radius: 5px;
  background-color: white;
}

#note-window input {
  height: 50px;
}

@media (orientation: portrait) {
  #wrapper {
    min-height: 300px;
  }

  .cell {
    padding: 0;
  }

  .cell:hover {
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
    padding: 15px;
  }

  .button {
    font-weight: bold;
  }

  #week-days div {
    font-size: 12px;
  }

}